<%- include('./partials/header') %>
<div class="container">
    <div id="info-message" class="center w3-panel w3-card-4" style='padding: 8px 32px'>
        <p class="w3-large"><strong><%= title %>：</strong><%= message %></p>
    </div>
</div>
<%- include('./partials/footer') %>
