<%- include('./partials/header') %>
<div class="container">
    <div id="info-message" class="center w3-panel w3-green w3-card-4">
        <p class="w3-large"><strong><%= title %>:</strong><%= message %></p>
    </div>
</div>
<%- include('./partials/footer') %>
