/* https://github.com/songquanpeng/blog-theme-w3 */
body {
    font-family: Verdana, Candara, Arial, Microsoft YaHei,sans-serif;
    line-height: 1.6;
    margin: 0;
}

nav {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
}

.pagination a {
    color: black;
}

.pagination-previous {
    padding: .75em;
    white-space: nowrap;
}

.pagination-next {
    order: 3;
    padding: .75em;
    white-space: nowrap;
}

.pagination a {
    border: none;
    overflow: hidden;
}

.article-list {
    margin-bottom: 16px;
    transition: 0.3s;
}

.article-list:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-effect {
    transition: 0.3s;
}

.hover-effect:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-hover {
    cursor: pointer;
    transition: 0.3s;
}

.badge-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.article-container {
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    word-break: break-word;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .article-container {
        padding-left: 3px;
        padding-right: 3px;
    }
}

article {
    overflow-wrap: break-word;
    font-size: larger;
    margin-bottom: 8px;
}

footer {
    margin-top: 16px;
}

.shadow-box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.shadow-box:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    max-width: 100%;
    max-height: 100%;
}

article table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
}

article table td,
article table th {
    padding: 5px 8px;
    border: 1px solid #bbb;
}

article table th {
    background-color: #ddd;
}

article table tr:nth-child(2n) {
    background-color: #eee;
}

article a {
    color: #368CCB;
    text-decoration: none;
}

article blockquote {
    margin-left: 0;
    padding: 0 1em;
    font-size: smaller;
    border-left: 5px solid #ddd;
}

article pre {
    overflow-x: auto;
}

article code {
    color: #bc9458;
    padding: .065em .4em;
}

article .copyright{
    display: none;
}

.raw-content {
    overflow-y: hidden;
    overflow-x: scroll;
}

.custom-link a:link {
    text-decoration: none;
    color: blue
}

.custom-link a:active {
    text-decoration: blink
}

.custom-link a:hover {
    text-decoration: underline;
    color: red
}

.custom-link a:visited {
    text-decoration: none;
    color: green
}


.center {
    max-width: 500px;
    margin: 20px auto;
}

.Responsive-Box video {
    height: 600px;
}

@media screen and (max-height: 800px) {
    .Responsive-Box video {
        max-height: 600px;
    }

}

.main {
    max-width: 1400px;
}

@media screen and (max-width: 1400px) {
    .main {
        max-width: 100%;
    }
}

.tag {
    cursor: pointer;
}


table {
    border-collapse: collapse;
    margin: 10px auto;
}

th, td {
    border: 1px solid #000;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000;
    color: #ffffff;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.w3-tag {
    margin-bottom: 8px;
}